.nav-link {
    padding: 7px 20px;
    color: #333;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer; 
}

.nav-link:hover {
    background-color: #f0f0f0;
}

.accordion-header {
    cursor: pointer;
}

.sub-menu {
    list-style: none;
    padding-left: 20px;
}

/* Styling for chevron icon */
.bi-chevron-down {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

/* Rotate chevron icon on open submenu */
.collapsed .bi-chevron-down {
    transform: rotate(180deg);
}


